
	
	<% Assignment.where(subsubject: @subsubject.id ).each do |post|%>
	<div id="post">
		
	<%= post.points%>	<%=post.description %> <%= link_to "edit", edit_assignment_path(post) %>
</div>
<%end%>



