<%if current_user%>
<div id="post">

<%= button_to "Post New Assignment","/post", class: "mid section"%>
</div>

<% Subject.all.each do |subject|%>

<div class = "picture_container">
	<% photoName ="photo" + ".jpg" %>
	<%= link_to image_tag(photoName),  subject,class: "icon"%>
	<%= subject.name %>
</div>
<%end%>
<%end%>
